@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  button {
    font-family: "Special Elite", serif;
  }
  h4 {
    font-family: "Allison", serif;
  }
  h3,
  p {
    font-family: "Merriweather", serif;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
